:root {
  --background-color: #121212;
  --primary-color: #1f1f1f;
  --secondary-color: #272727;
  --text-color: #e0e0e0;
  --accent-color: #bb86fc;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header,
footer {
  background-color: var(--primary-color);
}

main {
  /* background-color: var(--secondary-color); */
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
